<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"   />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ruslan+Display&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/newpatient.css">
    <script src="/javascripts/patientadmit.js"></script>
    <title>Discharge Patient</title>
</head>

<body>
    <section>
        <div class="heading">
            <i class="fa-solid fa-angles-left" onclick="backtoadmin()"></i>
            <h1>Discharge Patient</h1>
        </div>
        <form action="/discharge_patient" method="POST">
            
            <!-- <div class="medicaldiv">

                <h3>Medical Information</h3>
                <label for="blood_group">Blood Group:</label>
                <input type="text" id="blood_group" name="blood_group" required>

                <label for="allergies">Known Allergies:</label>
                <input type="text" id="allergies" name="allergies">

                <label for="medications">Current Medications:</label>
                <textarea id="medications" name="medications" rows="2"></textarea>

                <label for="conditions">Existing Conditions:</label>
                <textarea id="conditions" name="conditions" rows="2"></textarea>
            </div>
            <div class="insurancediv">
                <h3>Insurance Information</h3>
                <label for="insurance_provider">Provider:</label>
                <input type="text" id="insurance_provider" name="insurance_provider">

                <label for="policy_number">Policy Number:</label>
                <input type="text" id="policy_number" name="policy_number">

                <label for="policy_expiry">Policy Expiry Date:</label>
                <input type="date" id="policy_expiry" name="policy_expiry">
            </div> -->
            <div class="admissiondiv">
                <h3>Discharge Details</h3>
                <div class="name">
                    <div class="firstname">
                        <label for="firstname">First name:</label>
                        <select name="first_name" id="firstname" required>
                            <% if(patients.length>0){ %>
                                <% for(var i=0;i<patients.length;i++){ %>
                                    <option value="<%=patients[i].first_name%>"><%=patients[i].first_name%></option>
                                <% } %>
                            <% } else{%>
                                    <option value="No Patient found" >No patient found</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="lastname">
                        <label for="lastname">Last name:</label>
                        <select name="last_name" id="lastname" required>
                            <% if(patients.length>0){ %>
                                <% for(var i=0;i<patients.length;i++){ %>
                                    <option value="<%=patients[i].last_name%>"><%=patients[i].last_name%></option>
                                <% } %>
                            <% } else{%>
                                    <option value="No Patient found" >No patient found</option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <label for="reason_for_admission">Reason for Discharge:</label>
                <textarea id="reason_for_admission" name="reason_for_admission" rows="2" required></textarea>
            </div>

            <input type="submit" id="newpatientsubmit" value="Discharge Patient">
        </form>

    </section>
</body>
<% if (flashMessage) { %>
    <% if (flashMessage.type === 'success') { %>
        <div class="alert alert-success">
            <%= flashMessage.message %>
        </div>
    <% } else if (flashMessage.type === 'error') { %>
        <div class="alert alert-danger">
            <%= flashMessage.message %>
        </div>
    <% } %>
<% } %>


</html>